{% extends "AcmeYoutubeSearchBundle::layout.html.twig" %}

{% block title %}Форма поиска youtube роликов{% endblock %}

{% block content %}
    <form action="" method="post" class="cForm"{{ form_enctype(form) }}>
        <div>
            {{ form_errors(form.search) }}
            {{ form_label(form.search) }}
            {{ form_widget(form.search) }}
            {{ form_widget(form._token) }}
        </div>
        <button type="submit" class="btn btn-success">Найти</button>
        {% if videos %}
            <h1>Результаты поиска</h1>
            <ul>
                {{ videos|raw }}
            </ul>
        {% endif %}
    </form>
{% endblock %}